body{
	font-size: 12pt;
	color: rgb(100%,0%,0%);
}
#top {
	background-color: #ccc;
	padding: 20px
}

.intro {
	color: red;
	font-weight: bold;
}
#jam{
	font-size: 15em;
}
a:link {
    color: blue;
}

a:visited {
    color: purple;
}